img{
    text-align: center;
    width:200px;
    height:200px;
    margin:30px;
    border-radius: 15px;
}

.resume {
    max-width: 600px;
    margin-left:auto;
    margin-right:auto;
    background-color:#F0F8FF;
    color:black;
}

.details {
    margin:30px;
}

.profile-section {
    background-color:#E6E6FA;
    padding:30px;
}
.material-icons{
    width:5px;
    height: 5px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .resume{
        font-size:15px;
    }
    img{
        width:100px;
        height:100px;
    }

} 
.navbar {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    background-color: #4CAF50;
    color: white;
  }
  